@import './css/pages/LandingPage.css';
@import './css/pages/LoginPage.css';
@import './css/pages/HomePage.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app{
  background-color: #131414;
}

.avatar{
  cursor: pointer;
}

.avatar-container{
  margin-right:20px;
  margin-top:10px;
}

.bfc{
  flex-grow:100;
}

body{
  background-color: #131414;
  color:white;
  font-family: 'Roboto','sans-serif;';
}
.center{
  align-items: center;
  justify-content: center;
}
.self-center{
  align-self: center;
  justify-self: center;
}
.credits{
  display:flex;
  justify-content:center;
}

.flex-container{
  display:flex;
}

.end{
  align-items: flex-end;
  justify-content: flex-end;
}
.self-end{
  align-self:flex-end;
  justify-self:flex-end;
}
.logo{
  width:40px;
}

.hideOverflow{
  overflow: hidden;
  text-overflow: ellipsis;
}

.start{
  justify-content: flex-start;
}

.space-between{
  justify-content: space-between;
}

.stretch{
  justify-content: stretch;
}
.row{
  display:flex;
  flex-direction: row;
}

.column{
  display:flex;
  flex-direction: column;
}

.btn{
  background-color:steelblue;
}

.white-text{
  color:white;
}

.max-width{
  width: 100vw;
}

.max-height{
  height: 100vh;
}

.hidden{
  display: none;
}

.unselectable{
  user-select: none;
}

.drawer-container{
  padding:5px;
}

.drawer-title{
  align-self:center;
}

.drawer-item{
  line-height: 30px;
}

.expand{
  flex-grow: 1;
}
